<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="css/recepty.css" rel="stylesheet" type="text/css" />
		<title>Tvoi Recepty Backbone app</title>
		<script type="text/javascript" src="js/underscore.js"></script>
		<script type="text/javascript" src="js/json2.js"></script>
		<script type="text/javascript" src="js/backbone.js"></script>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="data/tids.js"></script>
		<script type="text/javascript" src="data/all.js"></script>
		<script type="text/javascript" src="data/all.recepts.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
	</head>
	<body>
		<script type="text/template" id="recipe-teaser">
			<h1><%= recipeTitle %></h1>
		</script>
	</body>
</html>
